body {
    margin: auto;
    background-color: antiquewhite;
}

h1 {
    color: black;
    line-height: 1cm;
    letter-spacing: 10px;
    text-align: center;
}

fieldset {
    padding: 3%;
    margin: 25%;
    margin-top: 2%;
    background-color: #c2bcbc;
    border: 2px solid #c2bcbc;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.2), 0 9px 23px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

table {
    border: 2px solid #c2bcbc;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.2), 0 9px 23px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
#tabel td,
#tabel th {
    border: 1px solid rgb(124, 69, 69);
    padding: 8px;
    text-align: center;
}

thead {
    color: white
}